body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

.mainText {
    font-family: 'Times New Roman';
    color: white;
}

.text {
    font-family: 'Times New Roman';
    color: black;
}

.compileButton {
    background-color: #165202;
    font-family: 'Times New Roman';
    color: white;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: medium;
}

.header {
    font-family: 'Times New Roman';
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: calc(100vh - 180px);
}

.input {
    background-color: #282a36;
    overflow: hidden;
}


.output {
    background-color: whitesmoke;
    overflow: auto;
}




