<!DOCTYPE html>
<html lang ="pt-br" xmlns:th "https://www.thymeleaf.org">
<head>
    <title>WebLilypond</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body style = "background-color:#f7cb5c">
    <div class = "text">
    <h1 style = "text-align:center">WebLilypond Test</h1>
    </div>

    <div>
        <form method="post" action="/compile">
            <label>
                Code:
                <input name ="code"/>
            </label>
            <button type="submit">Compile</button>
        </form>
    </div>

    <div>
        <iframe
            src="output/lilyCode.pdf"
            width = "50%"
            height = "600px"
            style="border:none"
        ></iframe>
    </div>
</body>
</html>